<div class="main">
    <app-alerts></app-alerts>
    <div class="centered-container">
        <div class="container">
            <h5 class="fw-bolder mb-2" style="margin-bottom: 0">Create New Staff</h5>
            <form [formGroup]="staffForm">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label class="fw-semibold" style="font-size: 15px">Email<span class="required">*</span></label>
                        <input type="email" class="form-control shadow-none" formControlName="email"
                            style="background-color: white !important;">
                        <div class="invalid-feedback" *ngIf="f['email'].errors">
                            <div *ngIf="f['email'].errors['required']">please enter email</div>
                            <div *ngIf="f['email'].errors['email']">invalid email</div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="fw-semibold" style="font-size: 14px">Password<span
                                class="required">*</span></label>
                        <div class="input-group">
                            <input type="text" placeholder="********" class="form-control shadow-none "
                                formControlName="password" style="background-color: white !important;">
                            <div class="invalid-feedback" *ngIf="f['password'].errors">
                                <div *ngIf="f['password'].errors['required']">please enter password</div>
                                <div *ngIf="f['password'].errors['minlength']">password is too short</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="fw-semibold" style="font-size: 14px" placeholder="Elakkiya">Full
                            Name</label>
                        <input type="text" class="form-control shadow-none" formControlName="full_name"
                            style="background-color: white !important;">
                        <div class="invalid-feedback" *ngIf="f['full_name'].errors">
                            <div *ngIf="f['full_name'].errors['minlength']">Full name is too short</div>
                            <div *ngIf="f['full_name'].errors['maxlength']">Maximum length exceeded.</div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4 form-group">
                        <label class="fw-semibold" style="font-size: 14px">Phone Number</label>
                        <input type="tel" class="form-control shadow-none" placeholder="+91"
                            formControlName="phone_number" style="background-color: white !important;">
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="fw-semibold" style="font-size: 14px" placeholder="EMP-1923">Employee ID
                            Number</label>
                        <input type="text" class="form-control shadow-none" formControlName="employee_id"
                            style="background-color: white !important;">

                    </div>
                    <div class="col-md-4 mb-4 form-group pb-3">
                        <label class="fw-semibold" style="font-size: 14px">Supervisor</label>
                        <select class="form-control shadow-none" formControlName="supervisor_name"
                            style="appearance: auto; background-color: white !important;">
                            <option value="" style="font-size: 14px; ">Please select</option>
                            <option *ngFor="let supervisor of supervisorList" [value]="supervisor"
                                style="font-size: 14px;">
                                {{ supervisor }}
                            </option>
                        </select>
                    </div>

                </div>

                <div class="row border-bottom">
                    <div class="col-md-4 mb-4 form-group pb-3">
                        <label class="fw-semibold" style="font-size: 14px">Hirearchy</label>
                        <select class="form-control shadow-none" 
                            style="appearance: auto; background-color: white !important;">
                            <option value="" style="font-size: 14px; ">Please select</option>
                            <option [value]="" style="font-size: 14px;">
                            </option>
                        </select>
                    </div>
                    <div style="position: relative;" class="col-md-4  mb-4 form-group pb-3">
                        <label class="fw-semibold" style="font-size: 14px">Room No</label>
                        <div (click)="roomDropdownOpen = !roomDropdownOpen"
                            style="border: 1px solid #ccc; padding: 6px; border-radius: 5px; background: white; cursor: pointer;">
                            <p class="mb-0" style="font-size: 15px;">Select Room No <i class="fa fa-chevron-down mt-2 float-end" style="font-size: 10px"></i></p>
                            
                        </div>

                        <div *ngIf="roomDropdownOpen"
                            style="position: absolute; top: 74%; left: 4%; width: 92%; border: 1px solid #ccc; background: white; z-index: 1000; max-height: 200px; overflow-y: auto; margin-top: 5px;">
                            <div *ngFor="let room of roomRanges" style="padding: 5px;">
                                <input type="checkbox" [value]="room" [checked]="selectedRooms.includes(room)"
                                    (change)="onRoomSelect(room, $event)" />
                                <label style="margin-left: 5px;">{{ room }}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <h5 class="fw-bolder mt-3" style="margin-bottom: 0">Created Details</h5>
                <div class="row border-bottom">
                    <div class="col-md-4">
                        <label class="fw-semibold mt-3" style="font-size: 14px;">Last Login</label>
                        <input type="text" class="form-control mb-4 shadow-none" formControlName="last_login" readonly
                            style='color: #8F9899; font-size: 14px;'>
                    </div>
                    <div class="col-md-4">
                        <label class="fw-semibold mt-3" style="font-size: 14px;">Created By</label>
                        <input type="text" class="form-control mb-4 shadow-none" formControlName="created_by_name"
                            readonly style='color: #8F9899; font-size: 14px;'>
                    </div>
                </div>

                <div class="row mt-4 form-group">
                    <!-- Active Toggle -->
                    <div>
                        <div
                            style="display: flex; align-items: center; border: 1px solid #ddd; padding: 5px 10px; border-radius: 10px; width: 16%">
                            <span style="font-weight: 600; font-size: 14px;">Activate Staff</span>
                            <!-- Hidden checkbox that controls the form value -->
                            <input type="checkbox" formControlName="is_active" hidden #isActivatedCheckbox>

                            <!-- Icon that updates the hidden checkbox -->
                            <i [ngClass]="isActivatedCheckbox.checked ? 'bi bi-toggle-on' : 'bi bi-toggle-off'"
                                (click)="isActivatedCheckbox.click()" [ngStyle]="{ 
                                    'cursor': 'pointer', 
                                    'font-size': '25px', 
                                    'margin-left': '10%', 
                                    'color': isActivatedCheckbox.checked ? '#1AA080' : 'rgb(212, 14, 14)'
}">
                            </i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="display: flex;justify-content: flex-end;" class="my-4 me-4">
        <button type="submit" class="cancel_bt" (click)="openExitModal()">Cancel</button>&nbsp;&nbsp;
        <button type="submit" class="save_bt">Create</button>
    </div>
</div>

<!-- Confirmation Modal for Exiting -->
<div *ngIf="isExitModalOpen"
    style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center;">

    <div
        style="background: white; padding: 30px; border-radius: 15px; width: 450px; text-align: center; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">

        <!-- Confirmation Text -->
        <h2 style="margin-bottom: 10px; font-size: 20px; font-weight: bold;">Are you sure you want to exit?</h2>

        <!-- Buttons: Cancel and Confirm -->
        <div style="display: flex; justify-content: space-around;">
            <button
                style="padding: 12px; background: #E1E2EB; color: black; border: none; cursor: pointer; width: 45%; border-radius: 8px;"
                (click)="closeExitModal()">
                Cancel
            </button>
            <button
                style="padding: 12px; background: #800020; color: white; border: none; cursor: pointer; width: 45%; border-radius: 8px;"
                (click)="navigateToBookings()">
                Exit
            </button>
        </div>
    </div>
</div>