body {
    font-family: urbanist;
}


.centered-container {
    background-color: white;
    min-height: 100vh;
    width: 96%;
    margin: 0 auto;
    padding: 20px 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 1%;
}

.category-section {
    color: #9E9E9E;

    strong {
        color: black;
        font-size: 17px;
    }

    span {
        font-size: 14px;
    }

    img {
        object-fit: cover;
        background-color: #FFFDE7;
        border-color: transparent;
    }
}

.hotel-reviews,
.hotel-members {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-collapse: collapse;
}

.hotel-members {
    thead tr {
        th {
            border-bottom: none !important;
            padding: 12px 20px;
        }
    }

    tbody {
        tr {
            td {
                padding: 12px 20px;
                border-bottom: none;
                border-top: none;
            }
        }
    }

}


.hotel-reviews,
.hotel-members {

    width: 100%;
    margin-top: 2%;

    tbody tr td {
        background-color: white;
        font-size: 13px;
        font-weight: 500;

    }

    thead {
        tr {
            th {
                color: #800020;
                font-size: 14px;
                border-bottom: none !important;
            }


        }
    }
}


.gold {
    color: #F9AF1A;
    font-weight: 700;
}

.active,
.pending,
.in-active {
    border-radius: 10px;
    border: none;
    min-width: 85px;
    font-weight: 500;
    // padding-left: 10px;
    // padding-right: 10px;
    padding: 3px 12px;
    white-space: nowrap;
    text-align: center;
}


.active {
    color: #30A75F;
    background-color: #d5efdb !important;
}

.pending {
    color: #FF641A;
    background-color: #f4d4c6 !important;
}

.in-active {
    color: #F9AF1A;
    background-color: #f5e4c0 !important;
}

// .expiry-section .list-group {
//     max-height: 500px;
//     overflow-y: auto;
// }

.expiry-section {
    background-color: #F8F9FA;

    span {
        font-size: 13px;
    }

    .list-group {
        .list-group-item {
            background-color: white;
            margin-bottom: 3%;
        }
    }
}

// /* Custom Scrollbar for dynamic flex columns */
// .custom-scrollbar {
//     padding-right: 5px;

//     /* Styling for WebKit Browsers */
//     &::-webkit-scrollbar {
//         width: 6px;
//     }

//     &::-webkit-scrollbar-track {
//         background: transparent;
//         border-radius: 10px;
//     }

//     &::-webkit-scrollbar-thumb {
//         background: #c1c1c1;
//         border-radius: 10px;
//     }

//     &::-webkit-scrollbar-thumb:hover {
//         background: #a8a8a8;
//     }
// }

.border-danger {
    border: 1px solid #FF3E42 !important;
    background-color: #FFECEC !important;
}

select {
    font-size: 13px;
    padding: 2px 4px;

    option {
        font-size: 13px;
    }
}

.see-more-btn {
    background: #f1f1f1;
    font-weight: 600;
    font-size: 13px;
    border-radius: 6px;
}