<div class="main">
    <app-alerts></app-alerts>
    <div class="centered-container">
        <div class="container">
            <!-- Basic Information Section -->
            <form [formGroup]="userRegistartionForm">
                <!-- Profile Photo Section -->
                <h5>Profile Photo</h5>
                <div class="row align-items-center mb-4">
                    <div class="col-auto">
                        <img [src]="profile_image" alt="Profile" class="rounded-circle border"
                            style="width: 100px; height: 100px; object-fit: cover;">
                    </div>
                    <div class="col">
                        <strong class="d-block" style="font-size: 18px">Upload your photo...</strong>
                        <small style="color: #808091;font-size: 12px">Maximum file size 2MB. Allowed file types:
                            JPEG/PNG/JPG</small>
                        <br>
                        <input type="file" (change)="imageupload($event)" style="display: none;" #fileuploadinput
                            accept="image/*" />
                        <div class="btn-group" name="imageFile" id="uploadButton"
                            [class.is-invalid]="validateImage && f['imageFile'].errors">
                            <button type="file" class="mt-2 btn border rounded btn-md shadow-none"
                                (click)="fileuploadinput.click()" [disabled]="!enableEdit"
                                style='background-color: #800020; color: white; padding: 2px 8px'>Upload</button>
                            <button class="mt-2 ms-2 btn border rounded btn-md shadow-none" (click)="openExitModal()"
                                [disabled]="!enableEdit"
                                style='background-color: #800020; color: white; padding: 2px 8px'>Remove</button>
                            <!-- {{imageName}} -->
                        </div>
                        <div class="invalid-feedback" *ngIf="validateImage && f['imageFile'].errors">
                            <div *ngIf="f['imageFile'].errors['type']">Invalid file type. Only JPG, JPEG, and PNG are
                                allowed.</div>
                            <div *ngIf="f['imageFile'].errors['sizehigh']">File size should be less than 2MB.</div>
                            <!-- <div *ngIf="f['imageFile'].errors['invalid']">Invalid file name.</div> -->
                            <!-- <div *ngIf="f['imageFile'].errors['sizezero']">File size should be greater than zero.</div> -->
                        </div>
                    </div>
                </div>
                <p class="fw-semibold mb-0" style="font-size: 18px">Basic Information</p>
                <div class="row g-5">
                    <div class="col-md-6">
                        <label style="font-size: 14px">First Name</label>
                        <input type="text" class="form-control bg-white shadow-none" placeholder="First Name"
                            formControlName="first_name" [class.is-invalid]="f['first_name'].invalid"
                            style="font-size: 15px; border-color: #E1E2EB; color: #808091">
                        <div class="invalid-feedback" *ngIf="f['first_name'].errors">
                            <!-- <div *ngIf="f['first_name'].errors['minlength']">first name is too short</div> -->
                            <div *ngIf="f['first_name'].errors['maxlength']">Maximum length exceeded.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label style="font-size: 14px">Last Name</label>
                        <input type="text" class="form-control bg-white shadow-none" placeholder="Last Name"
                            formControlName="last_name" [class.is-invalid]="f['last_name'].invalid"
                            style="font-size: 15px; border-color: #E1E2EB; color: #808091">
                        <div class="invalid-feedback" *ngIf="f['last_name'].errors">
                            <!-- <div *ngIf="f['last_name'].errors['minlength']">last name is too short</div> -->
                            <div *ngIf="f['last_name'].errors['maxlength']">Maximum length exceeded.</div>
                        </div>
                    </div>
                </div>
                <div class="row g-5 mt-3" style="border-top: #80809114;">
                    <div class="col-md-6 mt-0">
                        <p style="margin-bottom: 1%; font-size: 14px;">Email</p>
                        <p style="margin-bottom: 2%; font-size: 14px">{{ adminUserData.email }}</p>
                        <!-- <button class="btn btn-light fw-semibold border-0 shadow-none"
                            style="background: #FFF4F6; color: #800020; padding: 1% 2%; font-size: 14px"
                            (click)="openEmailModal()">Change
                            Email</button> -->
                        <button class="btn btn-light fw-semibold"
                            style="background: #800020; color: #FFF4F6;font-size: 14px" (click)="formCheck()">Save
                            Changes</button>
                    </div>
                    <div class="col-md-6 mt-0">
                        <p style="margin-bottom: 1%; font-size: 14px">Password</p>
                        <p style="margin-bottom: 2%; font-size: 14px">{{ maskedPassword }}</p>
                        <button class="btn btn-light fw-semibold border-0 shadow-none"
                            style="background: #FFF4F6; color: #800020; padding: 1% 2%; font-size: 14px;"
                            (click)="openPasswordModal()">Change
                            Password</button>
                    </div>
                </div>
            </form>
            <!-- Preferences and Logout -->
            <div class="row mt-4 border-top pt-3 gx-5">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p class="fw-semibold mb-0" style="font-size: 18px"><i class="bi bi-bell text-black me-2"
                                style="font-size: 16px"></i>Notification Preference</p>
                        <i [ngClass]="isOnline ? 'bi bi-toggle-on' : 'bi bi-toggle-off'" (click)="toggleStatus()"
                            style="cursor: pointer;font-size: 30px; margin-top: -2%"></i>
                    </div>
                    <small style="color: #808091;font-size: 13px">We may still send you important notifications</small>
                </div>
                <div class="col-md-6">
                    <p class="fw-semibold mb-1" style="font-size: 18px"><i class="fa fa-sign-out text-black me-2"
                            style="font-size: 16px"></i>Logout</p>
                    <small class="d-block mb-3" style="color: #808091;font-size: 13px">Logout is the process of ending a
                        user session and preventing further access until re-login.</small>
                    <button class="btn btn-light fw-semibold"
                        style="background: #FFF4F6; color: #800020;font-size: 14px" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Password Modal -->
<div *ngIf="isPasswordModalOpen" (click)="closePasswordModal($event)"
    style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center">

    <div
        style="background: white; padding: 30px; border-radius: 15px; width: 450px; text-align: center; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
        <!-- Lock Icon with Close Icon -->
        <div style="text-align: center; position: relative; margin-bottom: 10px;">
            <img src="../../assets/images/guestezee/forgot password.png" alt="lock icon"
                style="width: 50px; height: 50px;">
            <i class="bi bi-x-circle-fill"
                style="position: absolute; top: -15px; right: -15px; font-size: 24px; color: black; background-color: white; border-radius: 50%; cursor: pointer;"
                (click)="closePasswordModal($event)"></i>
        </div>
        <form [formGroup]="passwordUpdateForm" novalidate>
            <!-- Change Password Title -->
            <h2 style="margin-bottom: 10px; font-size: 20px; font-weight: bold;">Change Password</h2>
            <div style="position: relative; margin-bottom: 15px;">
                <input [type]="showCurrentPassword ? 'text' : 'password'" placeholder="Current Password"
                    formControlName="current_password" autocomplete="current-password"
                    style="padding: 12px; border: 1px solid #E1E2EB; border-radius: 8px; width: 100%; font-size: 14px; outline: none"
                    [class.is-invalid]="validateForm2 && p['current_password'].errors">
                <i style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;"
                    [class]="showCurrentPassword ? 'fa fa-eye eye-icon' : 'fa fa-eye-slash eye-icon'"
                    (click)="togglePasswordVisibility('current')"></i>
            </div>
            <!-- <div class="invalid-feedback" *ngIf="p['current_password'].errors"> -->
            <!-- <div *ngIf="p['current_password'].invalid && validateForm2" style="color: #ef1d3c">please enter
                current password</div> -->
            <div *ngIf="passwordUpdateForm.controls['current_password'].invalid && passwordUpdateForm.controls['current_password'].touched"
                style="color: red;">
                <div *ngIf="passwordUpdateForm.controls['current_password'].errors?.['required']">
                    Password is required.
                </div>
                <div *ngIf="passwordUpdateForm.controls['current_password'].errors?.['minlength']">
                    Password can't be less than 6 characters long.
                </div>
            </div>
            <!-- </div> -->
            <!-- Enter New Password Title -->
            <h3 style="margin-bottom: 15px; font-size: 18px; font-weight: bold;">Enter New Password</h3>
            <!-- New Password -->
            <div style="position: relative; margin-bottom: 15px;">
                <input [type]="showNewPassword ? 'text' : 'password'" placeholder="New Password"
                    formControlName="new_password" autocomplete="new-password"
                    style="padding: 12px; border: 1px solid #E1E2EB; border-radius: 8px; width: 100%; font-size: 14px; outline: none"
                    [class.is-invalid]="validateForm2 && p['new_password'].errors">
                <i style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;"
                    [class]="showNewPassword ? 'fa fa-eye eye-icon' : 'fa fa-eye-slash eye-icon'"
                    (click)="togglePasswordVisibility('new')"></i>
            </div>
            <!-- <div class="invalid-feedback" *ngIf="p['new_password'].errors"> -->
            <!-- <div *ngIf="p['new_password'].invalid && validateForm2" style="color: #ef1d3c">please enter
                new password</div> -->
            <div *ngIf="passwordUpdateForm.controls['new_password'].invalid && passwordUpdateForm.controls['new_password'].touched"
                style="color: red;">
                <div *ngIf="passwordUpdateForm.controls['new_password'].errors?.['required']">
                    Password is required.
                </div>
                <div *ngIf="passwordUpdateForm.controls['new_password'].errors?.['minlength']">
                    Password can't be less than 6 characters long.
                </div>
            </div>
            <!-- </div> -->
            <!-- Confirm Password -->
            <div style="position: relative; margin-bottom: 15px;">
                <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
                    formControlName="confirm_password" autocomplete="new-password"
                    style="padding: 12px; border: 1px solid #E1E2EB; border-radius: 8px; width: 100%; font-size: 14px; outline: none"
                    [class.is-invalid]="validateForm2 && p['confirm_password'].errors">
                <i style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer;"
                    [class]="showConfirmPassword ? 'fa fa-eye eye-icon' : 'fa fa-eye-slash eye-icon'"
                    (click)="togglePasswordVisibility('confirm')"></i>
            </div>
            <!-- <div class="invalid-feedback" *ngIf="p['confirm_password'].errors"> -->
            <!-- <div *ngIf="p['confirm_password'].invalid && validateForm2" style="color: #ef1d3c">
                please re-enter the password
            </div> -->
            <div *ngIf="passwordUpdateForm.controls['confirm_password'].invalid && passwordUpdateForm.controls['confirm_password'].touched"
                style="color: red;">
                <div *ngIf="passwordUpdateForm.controls['confirm_password'].errors?.['required']">
                    Password is required.
                </div>
                <div *ngIf="passwordUpdateForm.controls['confirm_password'].errors?.['minlength']">
                    Password can't be less than 6 characters long.
                </div>
                <!-- <div *ngIf="passwordUpdateForm.controls['confirm_password'].errors?.['matchError']">New Password and
                    Confirm Password do not match</div> -->
            </div>
            <!-- <div *ngIf="p['confirm_password'].errors && p['confirm_password'].errors['matchError']" style="color: #ef1d3c">
                Passwords should Match
            </div> -->
            <!-- </div> -->
            <!-- Save Button -->
            <button type="button"
                style="padding: 12px; background: #800020; color: white; border: none; cursor: pointer; width: 100%; margin-top: 10px; font-size: 16px; border-radius: 8px;"
                (click)="savePasswordChanges()">
                Save
            </button>
        </form>
    </div>
</div>
<!-- Email Modal -->
<div *ngIf="isEmailModalOpen" (click)="closeEmailModal($event)"
    style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center;">
    <div
        style="background: white; padding: 30px; border-radius: 15px; width: 450px; text-align: center; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
        <!-- Email Icon with Close Icon -->
        <div style="text-align: center; position: relative; margin-bottom: 10px;">
            <img src="../../assets/images/guestezee/forgot email.png" alt="email icon"
                style="width: 40px; height: 40px;">
            <!-- Close Icon Inside Modal, Aligned with Email Image -->
            <i class="bi bi-x-circle-fill"
                style="position: absolute; top: -15px; right: -15px; font-size: 24px; color: black; background-color: white; border-radius: 50%; cursor: pointer;"
                (click)="closeEmailModal($event)">
            </i>
        </div>
        <!-- Change Email Title -->
        <h2 style="margin-bottom: 10px; font-size: 20px; font-weight: bold;">Change Email Id</h2>
        <!-- Current Email Input -->
        <div style="position: relative; margin-bottom: 1%;">
            <input type="text" placeholder="Enter current mail id" [(ngModel)]="currentEmail"
                style="padding: 12px; border: 1px solid #E1E2EB; border-radius: 8px; width: 100%; font-size: 14px; outline: none"
                (ngModelChange)="validateEmails()">
        </div>
        <small *ngIf="currentEmailError"
            style="color: red; font-size: 14px;font-weight: 500; margin-bottom: 3%; display: flex"> {{ currentEmailError
            }}</small>
        <!-- Enter New Email Title -->
        <h3 style="margin-bottom: 15px; font-size: 18px; font-weight: bold;">Enter New Email Id</h3>
        <!-- New Email -->
        <div style="position: relative; margin-bottom: 15px;">
            <input type="text" placeholder="Enter new mail id" [(ngModel)]="newEmail" (ngModelChange)="validateEmails()"
                style="padding: 12px; border: 1px solid #E1E2EB; border-radius: 8px; width: 100%; font-size: 14px; outline: none">
        </div>
        <small *ngIf="newEmailError"
            style="color: red; font-size: 14px;font-weight: 500; margin-bottom: 3%; display: flex">
            {{ newEmailError }}
        </small>
        <!-- Save Button -->
        <button
            style="padding: 12px; background: #800020; color: white; border: none; cursor: pointer; width: 100%; margin-top: 10px; font-size: 16px; border-radius: 8px;">
            Save
        </button>
    </div>
</div>
<!-- Confirmation Modal for Exiting -->
<div *ngIf="isExitModalOpen"
    style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; z-index: 1050;">
    <div
        style="background: white; padding: 30px; border-radius: 15px; width: 450px; text-align: center; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
        <!-- Confirmation Text -->
        <h2 style="margin-bottom: 10px; font-size: 20px; font-weight: bold;">Are you sure you want to exit?</h2>
        <!-- Buttons: Cancel and Confirm -->
        <div style="display: flex; justify-content: space-around;">
            <button
                style="padding: 12px; background: #E1E2EB; color: black; border: none; cursor: pointer; width: 45%; border-radius: 8px;"
                (click)="closeExitModal()">
                Cancel
            </button>
            <button
                style="padding: 12px; background: #800020; color: white; border: none; cursor: pointer; width: 45%; border-radius: 8px;"
                (click)="deleteImage()">
                Delete
            </button>
        </div>
    </div>
</div>