<!-- <app-alerts *ngIf="showalertmsg"></app-alerts> -->
<div class="main">
    <app-alerts></app-alerts>
    <div class="centered-container">
        <div class="container" >
            <h5 class="fw-bolder" style="margin-bottom: 0">{{ enableEdit ? 'Edit Role Permission For Module' : 'Add Role Permission For Module'}}</h5>
            <p style="color: #9E9E9E; font-size: 14px; margin-bottom: 1%" >{{ enableEdit ? 'Update Role Permission For Module' : 'Create Role Permission For Module'}}</p>
 
            <!-- Role Name and Toggle Switches -->
            <form [formGroup]="roleForm">
                <div class="mb-3 mt-3 row d-flex align-items-center">
                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Role Name*</label>
                        <input type="text" class="form-control bg-white" formControlName="role_name"
                        [class.is-invalid]="validateForm && f['role_name'].errors" value="Admin" style="color: #9E9E9E">
                        <div class="invalid-feedback" *ngIf="f['role_name'].errors">
                            <div *ngIf="f['role_name'].errors['required']">Please enter role Name.</div>
                            <div *ngIf="f['role_name'].errors['minlength']">role Name should not be less than 3
                                characters.</div>
                            <div *ngIf="f['role_name'].errors['maxlength']">role Name should not be more than 40
                                characters.</div>
                        </div>
                    </div>
   
                    <!-- Standard Role Toggle -->
                    <div class="col-md-2">
                        <div style="display: flex; align-items: center; border: 1px solid #ddd; padding: 2px 5px; border-radius: 10px; margin-top: 19%">
                            <span style="font-weight: 600; font-size: 15px;">Standard Role</span>
                       
                            <!-- Hidden checkbox that controls the form value -->
                            <input type="checkbox" formControlName="is_standard" hidden #isStandardCheckbox>
                       
                            <!-- Icon that updates the hidden checkbox -->
                            <i [ngClass]="isStandardCheckbox.checked ? 'bi bi-toggle-on' : 'bi bi-toggle-off'"
                               (click)="isStandardCheckbox.click()"
                               [ngStyle]="{
                                cursor: 'pointer',
                                fontSize: '25px',
                                marginLeft: '8px',
                                color: isStandardCheckbox.checked ? '#1AA080' : 'rgb(212, 14, 14)'
                              }">
                            </i>
                        </div>
                       
                    </div>
   
                    <!-- Active Toggle -->
                    <div class="col-md-2">
                        <div style="display: flex; align-items: center; border: 1px solid #ddd; padding: 2px 4px; border-radius: 10px; margin-top: 19%">
                            <span style="font-weight: 600; font-size: 15px;">Active</span>
                       
                            <!-- Hidden checkbox that controls the form value -->
                            <input type="checkbox" formControlName="is_active" hidden #isActiveCheckbox>
                       
                            <!-- Icon that updates the hidden checkbox -->
                            <i [ngClass]="isActiveCheckbox.checked ? 'bi bi-toggle-on' : 'bi bi-toggle-off'"
                               (click)="isActiveCheckbox.click()"
                               [ngStyle]="{
                                cursor: 'pointer',
                                fontSize: '25px',
                                marginLeft: '8px',
                                color: isActiveCheckbox.checked ? '#1AA080' : 'rgb(212, 14, 14)'
                              }">
                            </i>
                        </div>
                       
                    </div>
                </div>
   
            </form>
           
            <!-- Permissions Table -->
            <div class="table-responsive add-role mt-5">
                <form [formGroup]="dashboardForm">
                    <div style="border-top-left-radius: 10px; border-top-right-radius: 10px; overflow: hidden; ">
                        <table style="width: 100%; border-collapse: separate; border-spacing: 0;">
                            <thead>
                                <tr >
                                    <th style="border-top-left-radius: 10px; border-left: 1px solid #6E6E6E;">Modules</th>
                                    <th>Create</th>
                                    <th>Edit</th>
                                    <th>Read</th>
                                    <th>Delete</th>
                                    <th style="border-top-right-radius: 10px; border-right: 1px solid #6E6E6E;">All</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border-left: 1px solid #6E6E6E;" class="fw-semibold">Dashboard</td>
                                    <td><input type="checkbox" formControlName="create" (change)="allOptions('specdashboard')"></td>
                                    <td><input type="checkbox" formControlName="edit" (change)="allOptions('specdashboard')"></td>
                                    <td><input type="checkbox" formControlName="read" (change)="allOptions('specdashboard')"></td>
                                    <td><input type="checkbox" formControlName="delete" (change)="allOptions('specdashboard')"></td>
                                    <td style="border-right: 1px solid #6E6E6E;"><input type="checkbox" formControlName="all" (change)="allOptions('dashboard')"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
 
                </form>
                <form [formGroup]="customersForm">
                    <table>
                        <tbody>
                            <tr>
                                <td style="border-left: 1px solid #6E6E6E !important;" class="fw-semibold">Customers</td>
                                <td><input type="checkbox" formControlName="create" (change)="allOptions('speccustomers')"></td>
                                <td><input type="checkbox" formControlName="edit"(change)="allOptions('speccustomers')"></td>
                                <td><input type="checkbox" formControlName="read"(change)="allOptions('speccustomers')"></td>
                                <td><input type="checkbox" formControlName="delete"(change)="allOptions('speccustomers')"></td>
                                <td style="border-right: 1px solid #6E6E6E !important;"><input type="checkbox" formControlName="all"(change)="allOptions('customers')"></td>
                            </tr>
                        </tbody>
                    </table>
 
                </form>
                <form [formGroup]="marketingForm">
                    <table>
                        <tbody>
                            <tr>
                                <td style="border-left: 1px solid #6E6E6E !important;" class="fw-semibold">Marketing</td>
                                <td><input type="checkbox" formControlName="create" (change)="allOptions('specmarketing')"></td>
                                <td><input type="checkbox" formControlName="edit" (change)="allOptions('specmarketing')"></td>
                                <td><input type="checkbox" formControlName="read" (change)="allOptions('specmarketing')"></td>
                                <td><input type="checkbox" formControlName="delete" (change)="allOptions('specmarketing')"></td>
                                <td style="border-right: 1px solid #6E6E6E !important;"><input type="checkbox" formControlName="all" (change)="allOptions('marketing')"></td>
                            </tr>
                        </tbody>
                    </table>
 
                </form>
                <form [formGroup]="paymentForm">
                    <table>
                        <tbody>
                            <tr>
                                <td style="border-left: 1px solid #6E6E6E !important;" class="fw-semibold">Payment</td>
                                <td><input type="checkbox" formControlName="create" (change)="allOptions('specPayment')"></td>
                                <td><input type="checkbox" formControlName="edit" (change)="allOptions('specPayment')"></td>
                                <td><input type="checkbox" formControlName="read" (change)="allOptions('specPayment')"></td>
                                <td><input type="checkbox" formControlName="delete" (change)="allOptions('specPayment')"></td>
                                <td style="border-right: 1px solid #6E6E6E !important;"><input type="checkbox" formControlName="all" (change)="allOptions('payment')"></td>
                            </tr>
                        </tbody>
                    </table>
 
                </form>
                <form [formGroup]="userAccessForm">
                    <table>
                        <tbody>
                            <tr>
                                <td style="border-left: 1px solid #6E6E6E !important;" class="fw-semibold">User Access</td>
                                <td><input type="checkbox" formControlName="create" (change)="allOptions('specUserAccess')"></td>
                                <td><input type="checkbox" formControlName="edit" (change)="allOptions('specUserAccess')"></td>
                                <td><input type="checkbox" formControlName="read" (change)="allOptions('specUserAccess')"></td>
                                <td><input type="checkbox" formControlName="delete" (change)="allOptions('specUserAccess')"></td>
                                <td style="border-right: 1px solid #6E6E6E !important;"><input type="checkbox" formControlName="all" (change)="allOptions('userAccess')"></td>
                            </tr>
                        </tbody>
                    </table>
 
                </form>
                <form [formGroup]="systemSettingsForm">
                    <table>
                        <tbody>
                            <tr style="border-bottom: 1px solid #6E6E6E !important; border-top: 1px solid #6E6E6E !important;">
                                <td style="border-left: 1px solid #6E6E6E !important;" class="fw-semibold">System Settings</td>
                                <td><input type="checkbox" formControlName="create" (change)="allOptions('specSystemSettings')"></td>
                                <td><input type="checkbox" formControlName="edit" (change)="allOptions('specSystemSettings')"></td>
                                <td><input type="checkbox" formControlName="read" (change)="allOptions('specSystemSettings')"></td>
                                <td><input type="checkbox" formControlName="delete" (change)="allOptions('specSystemSettings')"></td>
                                <td style="border-right: 1px solid #6E6E6E !important;"><input type="checkbox" formControlName="all" (change)="allOptions('systemSettings')"></td>
                            </tr>
                        </tbody>
                    </table>
 
                </form>
 
       
        </div>
 
    </div>
    <!-- Buttons placed outside of the container but still inside the *ngIf block -->
    <div class="row my-4  me-1" >
        <div class="col-md-12 d-flex justify-content-end">
            <div class="col-md-2">
                <button class="btn w-100 fw-semibold" style="color: #4E4E4E; background-color: #C6C6C6"
                    (click)="openExitModal()">Cancel</button>
            </div>
            <div class="col-md-2" *ngIf="!enableEdit">
                <button class="btn w-100 ms-2 fw-semibold"
                    style="color: white; background-color: #800020;" (click)="saveForm()">Save</button>
            </div>
            <div class="col-md-2" *ngIf="enableEdit">
                <button class="btn w-100 ms-2 fw-semibold"
                    style="color: white; background-color: #800020;" (click)="saveFormChanges()">Save Changes</button>
            </div>
        </div>
    </div>
</div>
 
<!-- Confirmation Modal for Exiting -->
<div *ngIf="isExitModalOpen"
    style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center;">
 
    <div
        style="background: white; padding: 30px; border-radius: 15px; width: 450px; text-align: center; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
 
        <!-- Confirmation Text -->
        <h2 style="margin-bottom: 10px; font-size: 20px; font-weight: bold;">Are you sure you want to exit?</h2>
 
        <!-- Warning Text (optional) -->
        <p style="font-size: 16px; margin-bottom: 20px;">{{ enableEdit ? 'Any unsaved changes will be lost.' : 'Entered details will be lost.'}}</p>
 
        <!-- Buttons: Cancel and Confirm -->
        <div style="display: flex; justify-content: space-around;">
            <button
                style="padding: 12px; background: #E1E2EB; color: black; border: none; cursor: pointer; width: 45%; border-radius: 8px;"
                (click)="closeExitModal()">
                Cancel
            </button>
            <button
                style="padding: 12px; background: #800020; color: white; border: none; cursor: pointer; width: 45%; border-radius: 8px;"
                (click)="cancelForm()">
                Exit
            </button>
        </div>
    </div>
</div>
 
 