

<table class="asap-cart-table table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Room No</th>
            <th>Service</th>
            <th>Department</th>
            <th>Order Time</th>
            <th>Escalate Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td (click)="navigateToTimeline()" style="cursor: pointer;"
                [ngClass]=" order.countingUp ? 'escalated' : ''">{{ order.name }}</td>
            <td [ngClass]=" order.countingUp ? 'escalated' : ''">{{ order.roomNo }}</td>
            <td [ngClass]=" order.countingUp ? 'escalated' : ''">{{ order.service }}</td>
            <td [ngClass]=" order.countingUp ? 'escalated' : ''">{{ order.department }}</td>
            <td [ngClass]=" order.countingUp ? 'escalated' : ''">{{ order.orderTime }}</td>
            <td [ngClass]="getEscalateStyles(order)">
                {{ formatSeconds(escalateSecondsMap.get(order.name) || 0) }}
            </td>
            <td [ngClass]=" order.countingUp ? 'escalated' : ''">
                <button [disabled]="!order.isAssigned" [ngClass]=" order.countingUp ? 'escalated' : 'not-escalated'"
                    style="color: #545460; border: none !important; cursor: pointer; text-decoration: underline;"
                    (click)="onAddAssignee(order)">
                    {{ order.action }}
                </button>
            </td>
        </tr>
    </tbody>
</table>