<table class="delivered-table table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Room No</th>
            <th>Service</th>
            <th>Order Time</th>
            <th>Delivered Time</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of deliveredOrders">
            <td>{{ task.name }}</td>
            <td>{{ task.roomNo }}</td>
            <td>{{ task.service }}</td>
            <td>{{ task.orderTime }}</td>
            <td>{{ task.orderTime }}</td>
            <td>
                <div
                    style="color: #FF641A; background-color: #f0dad0; border-radius: 50px; padding: 4px 12px; font-weight: 500; font-size: 12px; text-align: center; display: inline-block;">
                    Delivered
                </div>
            </td>
            <td>{{ task.assignedStaff }}</td>
            <td>
                <span *ngFor="let filled of getStarArray(task.rating)">
                    <svg width="16" height="16" viewBox="0 0 24 24" [attr.fill]="filled ? '#FFB52D' : 'none'"
                        [attr.stroke]="filled ? '#FFB52D' : '#D7E7FF'" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 
                            12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
                    </svg>
                </span>
            </td>
        </tr>
    </tbody>
</table>