<div>
  <div class="centered-container">
    <!-- Newl removed -->
    <!-- <button type="button" class="save_bt" style="float: right;" (click)="addTechnicalInfo()"  >Add Technical Info</button> --> 
    <div class="container">
      <!-- Tabs Navigation -->
      <ul class="nav nav-tabs flex-wrap" id="myTabs" role="tablist">
        <li class="nav-item Custom-tab-spacing" role="presentation">
          <a class="nav-link active" id="lock-tab" data-toggle="tab" href="#lock" role="tab" aria-controls="lock"
            aria-selected="true" (click)="selectTab('lock')">Lock Integration</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link Custom-tab-spacing" id="pos-tab" data-toggle="tab" href="#pos" role="tab"
            aria-controls="pos" aria-selected="false" (click)="selectTab('pos')">PMS</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link Custom-tab-spacing" id="sms-tab" data-toggle="tab" href="#sms" role="tab"
            aria-controls="sms" aria-selected="false" (click)="selectTab('SMS')">SMS</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link Custom-tab-spacing" id="payment-tab" data-toggle="tab" href="#payment" role="tab"
            aria-controls="payment" aria-selected="false" (click)="selectTab('Payment')">Payment</a>
        </li>
        <!-- <li class="nav-item" role="presentation">
                <a class="nav-link Custom-tab-spacing" id="logistics-tab" data-toggle="tab" href="#logistics" role="tab" aria-controls="logistics" aria-selected="false"  (click)="selectTab('Logistics')">Logistics</a>
              </li> -->
        <li class="nav-item" role="presentation">
          <a class="nav-link Custom-tab-spacing" id="other-tab" data-toggle="tab" href="#other" role="tab"
            aria-controls="other" aria-selected="false" (click)="selectTab('other')">Other Integration</a>
        </li>


      </ul>

      <!-- Tab Content -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="lock" role="tabpanel" aria-labelledby="lock-tab">
          <app-tech-info-content *ngIf="selectedTab" [filterType]="selectedTab"></app-tech-info-content>

        </div>
        <div class="tab-pane fade" id="pos" role="tabpanel" aria-labelledby="pos-tab">
          <app-tech-info-content *ngIf="selectedTab" [filterType]="selectedTab"></app-tech-info-content>

        </div>
        <div class="tab-pane fade" id="sms" role="tabpanel" aria-labelledby="sms-tab">
          <app-tech-info-content *ngIf="selectedTab" [filterType]="selectedTab"></app-tech-info-content>

        </div>
        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
          <app-tech-info-content *ngIf="selectedTab" [filterType]="selectedTab"></app-tech-info-content>

        </div>
        <!-- <div class="tab-pane fade" id="logistics" role="tabpanel" aria-labelledby="logistics-tab">
                <app-tech-info-content  *ngIf="selectedTab" [filterType]="selectedTab"></app-tech-info-content>

              </div> -->
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
          <app-tech-info-content *ngIf="selectedTab" [filterType]="selectedTab"></app-tech-info-content>

        </div>


      </div>
    </div>
  </div>
</div>