<app-alerts></app-alerts>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
<div class="section">
      <h3 style="font-size: 20px;font-weight: 600;">Contact Details <a style="font-size: 14px;color: #A0A0A0;">(Primary)</a></h3>
      <div style="display: grid;grid-template-columns: repeat(3, 1fr);row-gap: 3%;">
      <div class="form-group form1_div">
        <label >First Name</label>
        <input class="input_box" type="text" formControlName="first_name" placeholder="First Name"  />
        <span *ngIf="customerForm.get('first_name')?.invalid && customerForm.get('first_name')?.touched">
          First name is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Second Name</label>
        <input class="input_box" type="text" formControlName="last_name" placeholder="last_name" />
        <span *ngIf="customerForm.controls['last_name'].invalid && customerForm.controls['last_name'].touched">
          Second name is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Designation</label>
        <input class="input_box" type="text" formControlName="designation" placeholder="designation" />
        <!-- <select class="input_box" formControlName="designation">
          <option value="manager">Manager</option>
          <option value="developer">Developer</option>
          <option value="designer">Designer</option>
          <option value="qa">QA</option>
          <option value="hr">HR</option>
        </select> -->
        <span *ngIf="customerForm.controls['designation'].invalid && customerForm.controls['designation'].touched">
          Designation is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label >Phone Number</label>
        <input class="input_box" type="number" formControlName="phone_number" />
        <span *ngIf="customerForm.controls['phone_number'].invalid && customerForm.controls['phone_number'].touched">
          Phone Number is required.
        </span>
        <div *ngIf="customerForm.get('phone_number')?.hasError('invalidPhone') && customerForm.get('phone_number')?.touched" class="error">
          ❌ Invalid Phone Number (must be 10 digits & start with 6-9)
        </div>
      </div>
      <div class="form-group form1_div">
        <label >Email Id</label>
        <input class="input_box" type="text" formControlName="email" />
        <span *ngIf="customerForm.controls['email'].invalid && customerForm.controls['email'].touched">
          Valid email is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Gender</label>
        <select class="input_box" formControlName="gender">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
          <option value="Other">Other</option>
          
        </select>
        <span *ngIf="customerForm.controls['gender'].invalid && customerForm.controls['gender'].touched">
          Gender is required.
        </span>
     
      </div>
     
   
     
    
     
    </div>
    </div>
    <div class="section">
        <h3 style="font-size: 20px;font-weight: 600;">Contact Details <a style="font-size: 14px;color: #A0A0A0;">(secondary)</a></h3>
        <div style="display: grid;grid-template-columns: repeat(3, 1fr);row-gap: 3%;">
        <div class="form-group form1_div">
          <label >First Name</label>
          <input class="input_box" type="text" formControlName="sec_first_name" />
          <span *ngIf="customerForm.controls['sec_first_name'].invalid && customerForm.controls['sec_first_name'].touched">
            First name is required.
          </span>
        </div>
        <div class="form-group form1_div">
          <label>Second Name</label>
          <input class="input_box" type="text" formControlName="sec_last_name" />
          <span *ngIf="customerForm.controls['sec_last_name'].invalid && customerForm.controls['sec_last_name'].touched">
            Second name is required.
          </span>
        </div>
        <div class="form-group form1_div">
          <label>Designation</label>
          <input class="input_box" type="text" formControlName="sec_designation" placeholder="sec_designation" />
          <!-- <select class="input_box" formControlName="sec_designation">
            <option value="manager">Manager</option>
            <option value="developer">Developer</option>
            <option value="designer">Designer</option>
            <option value="qa">QA</option>
            <option value="hr">HR</option>
          </select> -->
          <span *ngIf="customerForm.controls['sec_designation'].invalid && customerForm.controls['sec_designation'].touched">
            Designation is required.
          </span>
        </div>
        <div class="form-group form1_div">
          <label >Phone Number</label>
          <input class="input_box" type="number" formControlName="sec_phone_number" />
          <span *ngIf="customerForm.controls['sec_phone_number'].invalid && customerForm.controls['sec_phone_number'].touched">
            Phone Number is required.
          </span>
          <div *ngIf="customerForm.get('sec_phone_number')?.hasError('invalidPhone') && customerForm.get('sec_phone_number')?.touched" class="error">
            ❌ Invalid Phone Number (must be 10 digits & start with 6-9)
          </div>
        </div>
        <div class="form-group form1_div">
          <label >Email Id</label>
          <input class="input_box" type="text" formControlName="sec_email" />
          <span *ngIf="customerForm.controls['sec_email'].invalid && customerForm.controls['sec_email'].touched">
            Email is required.
          </span>
        </div>
        <div class="form-group form1_div">
          <label>Gender</label>
          <select class="input_box" formControlName="sec_gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Other">Other</option>
            
          </select>
          <span *ngIf="customerForm.controls['sec_gender'].invalid && customerForm.controls['sec_gender'].touched">
            Gender is required.
          </span>
        </div>
       
     
       
      
       
      </div>
      </div>
      <div class="section">
        <h3 style="font-size: 20px;font-weight: 600;">Registered Address</h3>
        <div style="display: grid;grid-template-columns: repeat(3, 1fr);row-gap:3%;">
        <div class="form-group form1_div">
          <label >Company Name</label>
          <input class="input_box" type="text" formControlName="company_name" />
          <span *ngIf="customerForm.controls['company_name'].invalid && customerForm.controls['company_name'].touched">
            Company name is required.
          </span>
        </div>
        <div class="form-group form1_div">
          <label>Door No</label>
          <input class="input_box" type="text" formControlName="door_no" />
          <span *ngIf="customerForm.controls['door_no'].invalid && customerForm.controls['door_no'].touched">
          Door no is required.
          </span>
        </div>
        <div class="form-group form1_div">
            <label>Address</label>
            <input class="input_box" type="text" formControlName="address" />
            <span *ngIf="customerForm.controls['address'].invalid && customerForm.controls['address'].touched">
             Address is required.
              </span>
          </div>
       
        
        
          <div class="form-group form1_div">
            <label>Country</label>
            <select class="input_box" formControlName="country"  (click)="onItemsSelect($event)" >
              <option *ngFor="let country of countryDropdownList" [value]="country.country">
                {{country.country}}
              </option>
           
            </select>
            <span *ngIf="customerForm.controls['country'].invalid && customerForm.controls['country'].touched">
              Country is required.
               </span>
          </div>
          <div class="form-group form1_div">
            <label>State</label>
            <select class="input_box" formControlName="state">
              <option  *ngFor="let states of statesDropdownList"  [value]="states.state" >{{states.state}}</option>
             
             
            </select>
            <span *ngIf="customerForm.controls['state'].invalid && customerForm.controls['state'].touched">
              State is required.
               </span>
          </div>
          <div class="form-group form1_div">
            <label>City</label>
            <input class="input_box" type="text" formControlName="city" />
            <span *ngIf="customerForm.controls['city'].invalid && customerForm.controls['city'].touched">
              City is required.
               </span>
            <!-- <select class="input_box" formControlName="city">
              <option value="manager">Chennai</option>
              <option value="developer">Chennai</option>
              <option value="designer">Chennai</option>
              <option value="qa">Chennai</option>
              <option value="hr">Chennai</option>
            </select> -->
          </div>
        <div class="form-group form1_div">
          <label >Pincode</label>
          <input class="input_box" type="number" formControlName="pincode" />
          <span *ngIf="customerForm.controls['pincode'].invalid && customerForm.controls['pincode'].touched">
            Pincode is required.
             </span>

        </div>
        
       
     
       
      
       
      </div>
      </div>
      <div class="section">
        <h3 style="font-size: 20px;font-weight: 600;">PAN & GST Details</h3>
        <div style="display: grid;grid-template-columns: repeat(3, 1fr);row-gap:3%;">
        <div class="form-group form1_div">
          <label >PAN Number</label>
          <input class="input_box" type="text" formControlName="pan_no" />
          <div *ngIf="customerForm.get('pan_no')?.hasError('invalidPAN') && customerForm.get('pan_no')?.touched" class="error">
            ❌ Invalid PAN Format (e.g., ABCDE1234F)
          </div>
        </div>
        <div class="form-group form1_div">
          <label>GST</label>
          <input class="input_box" type="text" formControlName="gst_no" />
          <div *ngIf="customerForm.get('gst_no')?.hasError('invalidGST') && customerForm.get('gst_no')?.touched" class="error">
            ❌ Invalid GST Format (e.g., 27ABCDE1234F1Z5)
          </div>
        </div>
    
       
     
       
      
       
      </div>
      </div>
      <!-- [disabled]="customerForm.invalid" -->
     
     <div style="display: flex;justify-content: flex-end;">
      <button type="submit" class="cancel_bt" (click)="cancel()" >cancel</button>&nbsp;&nbsp;
      <button type="submit" class="save_bt"  [disabled]="customerForm.invalid">Save & Continue</button>
     </div>
     
    </form>