<div class="main">
  <app-alerts></app-alerts>
  <div class="centered-container">
    <div class="container mt-1">

      <!-- Back Button -->
      <!-- <p class="fw-medium" style="font-size: 18px; color: #1A1A1A; cursor: pointer;" (click)="goBack()">
        <i class="fas fa-angle-left" style="font-size: 13px"></i> Back
      </p> -->

      <!-- Pricing Plans -->
      <div class="row row-cols-1 row-cols-md-4 g-3 mb-5">
        <div class="col" *ngFor="let plan of plans; let i = index">
          <div class="card h-100 text-center" [ngClass]="plan.isCurrent ? 'isCurrent' : 'isNotCurrent'">

            <!-- Header -->
            <div class="card-header fw-bold" style="font-size: 17px">
              <i class="fas fa-crown" *ngIf="plan.isCurrent"></i> &nbsp; {{ plan.name}}
            </div>

            <!-- Body -->
            <div class="card-body text-center">
              <!-- Scrollable Content -->
              <div class="plan-details-scrollable">
                <!-- Base Price -->
                <h4 class="fw-bold">
                  <small *ngIf="plan.name=='SingleRoomPricing'"> ₹{{ plan.peryearcost| number:'1.2-2' }}</small>
                  <small *ngIf="plan.name!='SingleRoomPricing'"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </small>
                  <!-- <small *ngIf="plan.name!='SingleRoomPricing'"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </small> -->
                  <small *ngIf="plan.name=='SingleRoomPricing'">/ year (GST inclusive)</small>
                  <small *ngIf="plan.name!='SingleRoomPricing'"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </small>
                  <!-- <small  *ngIf="plan.name!='SingleRoomPricing'" >  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </small> -->
                </h4>
                <!-- Per Room Cost Input -->
                <div class="mt-2">
                  <label class="fw-bold" style="font-size: 13px;"> Room Cost per month:</label>
                  <input type="number" class="form-control text-center" [(ngModel)]="plan.perRoomCost"
                    (input)="calculateDiscount(plan)" (keydown)="preventDecimal($event)" step="1" min="0"
                    placeholder="Enter cost per room" />
                </div>
                <!-- Discount Type Select -->
                <div class="mt-3">
                  <label class="fw-semibold" style="font-size: 13px;">Discount Type:</label>
                  <select class="form-select text-center" [(ngModel)]="plan.discountType"
                    (change)="calculateDiscount(plan)">
                    <!-- <option value="selected" disabled>select</option> -->
                    <option value="percentage">Percentage</option>
                    <option value="flat">Flat Price</option>
                  </select>
                </div>

                <!-- Discount Value Input -->
                <div class="mt-3">
                  <label class="fw-semibold" style="font-size: 13px;">Discount Value</label>
                  <input type="number" class="form-control text-center" [(ngModel)]="plan.discountValue"
                    (input)="calculateDiscount(plan)" (keydown)="preventDecimal($event)" step="1" min="0"
                    [disabled]="plan.discountType === 'selected'"
                    [placeholder]="plan.discountType === 'percentage' ? '0 %' : '0'" />
                </div>

                <!-- GST (readonly) -->
                <div class="mt-3 fw-bold">
                  GST (18%): ₹{{ plan.gstAmount | number:'1.2-2' }}
                </div>

                <!-- Final Price -->
                <div class="mt-3 fw-bold">
                  Final Price: ₹{{ plan.finalPrice | number:'1.2-2' }}
                </div>
              </div>

              <!-- Save Button -->
              <button class="btn w-100 py-2 my-2 fw-bold save-btn"
                [ngClass]="plan.isCurrent ? 'isBtnCurrent' : 'isBtnNotCurrent'" (click)="calculateDiscount1(plan)">
                SAVE
              </button>

            </div>
          </div>
        </div>



      </div>

    </div>
  </div>
</div>