body {
    font-family: urbanist;
}

.asap-cart-table {
    thead {
        tr {
            border-left: 1px solid #dee2e6 !important;
            border-right: 1px solid #dee2e6 !important;

            th {
                background-color: #f2f2f2;
                color: #800020;
                text-align: center;
                font-size: 14px;
                border: none !important;
                padding-top: 1%;
                padding-bottom: 1%;
            }
        }
    }

    tbody {
        tr {
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;

            td {
                background-color: white;
                font-size: 13px;
                text-align: center;
                border-top: none !important;
                padding-top: 1%;
                padding-bottom: 1%;
                font-weight: 600;
            }
        }
    }
}

.escalated {
    background-color: #FFC3C3 !important;
}

.not-escalated {
    background-color: white !important;
}

// Color for the status
.escalation {
    color: #E70909 ;
    background-color: #FFC3C3 !important;
}

.not-escalated {
    color: #059956;
}

.blink-orange {
    color: #E27F15;
    animation: blink 0.7s step-start 0s infinite;
}

// Blinking animation
@keyframes blink {
    50% {
        opacity: 0;
    }
}