<header class="header">
  <div class="menu-name">
    <h1 style="color:black; font-size: 20px;">
      <img src="../../../assets/images/guestezee/menu.png" alt="Menu Icon">&nbsp;&nbsp;{{selectedMenu }}
    </h1>
  </div>
 
  <!-- User Info Section -->
  <div class="user-info d-flex align-items-center"  #userInfo>
    <img class="notification-icon" src="../../../assets/images/guestezee/notify.png" alt="Notification" (click)="toggleNotification()">
   
      <img class="profile-icon" [src]="profile_image" alt="Profile" class="rounded-circle border"
      style="width: 40px; height: 40px; object-fit: cover;cursor: pointer;" (click)="toggleLogout()">
 
 
 
    <span class="username d-none d-md-inline;cursor: pointer;" (click)="toggleLogout()">{{profile_name}}</span> <!-- Display username only on medium screens and larger -->
  </div>
 
  <div *ngIf="showAccount" class="position-absolute profile-settings border rounded-3 shadow-sm  mt-2" style="top: 90%; right: 1.5%; width: 10%; background-color: #fff;    z-index: 1000;">
    <button class="btn d-flex align-items-center shadow-none border-0 pt-2 ps-2 pe-3" (click)="navigateToProfile()">
      <i class="fas fa-user-circle me-2" style="color: #800020; font-size: 15px;"></i>
      <span style="font-size: 15px; font-weight: 600;">Profile</span>
    </button>
    <button class="btn d-flex align-items-center shadow-none border-0  ps-2 pe-3"  (click)="logout()">
      <i class="fas fa-power-off me-2" style="color: #800020; font-size: 14px;"></i>
      <span style="font-size: 15px; font-weight: 600;">Logout</span>
    </button>
  </div>
 
</header>
<app-notification *ngIf="showNotification" (close)="toggleNotification()"></app-notification>