<div class="main">
    <app-alerts></app-alerts>
    <div class="centered-container">
        <div class="container role" >
 
            <!-- Role listing page -->
            <!-- Tabs Navigation -->
            <div style="display: flex; justify-content: space-between;">
                <button class="fw-semibold" (click)="openDeleteModal()"
                    style="background-color: #800020;font-weight: 500;color: white; padding: 10px 20px; border-radius: 5px; font-size: 14px; border: none;">
                    Delete Selected
                </button>
 
                <!-- For adding new role -->
                <button class="fw-semibold"
                    style="background-color: #800020; color: white; padding: 10px 20px; border-radius: 5px; font-size: 14px; border: none;"
                    (click)="toggleAddRole()">
                    Add Role
                </button>
            </div>
 
            <!-- Tab Content -->
            <table class="table" style="margin-top: 3%;">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th style="text-align: start;">Role Name</th>
                        <th>Standard Role</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles" style="background-color: white;">
                        <td style="text-align: center;">
                            <input type="checkbox" [id]="role.name" [name]="role.name" [value]="role.name" (change)="toggleSelection($event, role.id)">
                        </td>
                        <td >{{ role.name }}</td>
                        <td style="text-align: center;">{{ role.is_standard }}</td>
                        <td style="text-align: center;">{{ role.is_active }}</td>
                        <td style="text-align: center;">
                            <i class="fa fa-pen-to-square" style="color: #800020;" (click)="setInitialValues(role.id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 
<!-- Confirmation Modal for Deleting -->
<div *ngIf="isDeleteModalOpen"
    style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center;">
 
    <div
        style="background: white; padding: 30px; border-radius: 15px; width: 450px; text-align: center; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
 
        <!-- Confirmation Text -->
        <h2 style="margin-bottom: 10px; font-size: 20px; font-weight: bold;">Are you sure you want to delete?</h2>
 
        <!-- Warning Text (optional) -->
        <p style="font-size: 16px; margin-bottom: 20px;">This action cannot be undone.</p>
 
        <!-- Buttons: Cancel and Confirm -->
        <div style="display: flex; justify-content: space-around;">
            <button
                style="padding: 12px; background: #E1E2EB; color: black; border: none; cursor: pointer; width: 45%; border-radius: 8px;"
                (click)="closeDeleteModal()">
                Cancel
            </button>
            <button
                style="padding: 12px; background: #800020; color: white; border: none; cursor: pointer; width: 45%; border-radius: 8px;"
                (click)="deleteSelectedRoles()">
                Delete
            </button>
        </div>
 
    </div>
</div>