body {
    font-family: 'Urbanist', sans-serif !important;
}
.login_content_color{
    color: #878E96;

}
.form-control{
    padding: 1.375rem 0.75rem!important;
    border: 2px solid #DFDFDF;
    background-color: #FDFDFD;
}

.login-page_img{
    object-fit: contain; 
    width: 100%; 
    height: auto;
  
}
.login_logo_img{
    object-fit: contain;
     width: 40%;
      height: auto;
      margin-top: 5%;
}
.login_content_container{
    text-align: center;display: flex; justify-content: center;   
}
.login_form_container{
    text-align: center;display: flex; justify-content: center;
}
.login_button{
    background-color: #800020;
    color: white;
    padding: 0.75rem 0.75rem!important;
}
input::placeholder {
    color: #878E96;
    background-color: #FDFDFD;
  }
  /* Adjust padding for the input */
/* Add padding to the input field so the icon doesn't overlap the text */
.form-control {
    padding-right: 40px;  /* Add space on the right for the icon */
  }
  
  /* Position the icon inside the input field */
  .eye-icon {
    position: absolute;
    right: 10px;  /* Place the icon on the right side */
    top: 50%;     /* Vertically center the icon */  
    transform: translateY(-50%);  /* Adjust for perfect centering */
    cursor: pointer;
    width: 20px;  /* Set the size of the icon */
    height: 20px;
  }
  

/* Optional: Add custom styling for the submit button */
.btn-primary{
    background-color: #800020!important;
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #800020;
    --bs-btn-border-color: #800020;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #800020;
    --bs-btn-hover-border-color: #800020;
    --bs-btn-focus-shadow-rgb: 77, 129, 234;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #800020;
    --bs-btn-active-border-color: #800020;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #800020;
    --bs-btn-disabled-border-color: #800020;

}