.form1_div {
  width: 95%
}

.inputwidth {
  width: 95%;
}

.section {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  // height: 60vh;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form1_div {
  width: 95%
}

.input_box {
  width: 95%;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  padding: 5px 5px;
}

.body {
  font-family: urbanist;

}

// .label {
//   font-family: urbanist;
//   font-weight: 600;
//   font-size: 14px;
// }

// .form-check-input:checked {
//   background-color: #800020 !important;
//   border-color: #800020 !important;
// }


// Newly added
.card-header {
  font-size: 1.1rem;
  border: none;
}

.isSelected {
  border: 1px solid #EAEAEF;
  background: linear-gradient(90deg, rgba(249, 49, 121, 0.1) -2.75%, rgba(193, 0, 224, 0.1) 99.79%);
}

.isNotSelected {
  border: 1px solid #DDE1E699;
  background-color: white;

  .card-header {
    background: linear-gradient(94.24deg, rgba(1, 116, 250, 0.1) -9.75%, rgba(1, 146, 250, 0.1) -9.74%, rgba(139, 0, 224, 0.1) 107.06%);
  }
}

.card-body {
  small {
    font-size: 18px;
    color: #90909c;
  }
}

.button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  ;
}

.isViewBtn {
  color: white;
  background-color: #800020;
}

.isChooseBtn {
  color: #0C0E10;
  background-color: #FFC300;
}

.isChooseBtn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.disabled-card {
  pointer-events: none;
  opacity: 0.5;
}

.cancel_bt {
  padding: 8px 50px;
  border: none;
  border-radius: 5px;
  background: #C6C6C6;
  color: #4E4E4E;
  font-weight: 600;
}

.save_bt {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: #800020;
  color: white;
  font-weight: 600;

}

.save_bt:disabled {
  background: #b35a78;
  cursor: not-allowed;
  opacity: 0.6;
}
.active-border {
  border: 2px solid #800020!important; /* Or any color/style you prefer */
  border-radius: 4px;
  padding: 8px;
}


// .isCurrent {
//   border: 1px solid #EAEAEF;
//   background: linear-gradient(90deg, rgba(249, 49, 121, 0.1) -2.75%, rgba(193, 0, 224, 0.1) 99.79%);
// }

// .isNotCurrent {
//   border: 1px solid #DDE1E699;
//   background-color: white;

//   .card-header {
//       background: linear-gradient(94.24deg, rgba(1, 116, 250, 0.1) -9.75%, rgba(1, 146, 250, 0.1) -9.74%, rgba(139, 0, 224, 0.1) 107.06%);
//   }
// }