<table class="escalated-table table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Room No</th>
            <th>Service</th>
            <th>Order Time</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of escalatedOrders">
            <td >{{ task.name }}</td>
            <td>{{ task.roomNo }}</td>
            <td>{{ task.service }}</td>
            <td>{{ task.orderTime }}</td>
            <td>
                <div
                    style="color: #E70909; background-color: #f2d9d9; border-radius: 50px; padding: 4px 12px; font-weight: 500; font-size: 12px; text-align: center; display: inline-block;">
                    Escalated
                </div>
            </td>
            <td>{{ task.assignedStaff }}</td>
            <td><button style="color: #545460; border: none !important; cursor: pointer; background-color: white !important; text-decoration: underline;" (click)="onAddAssignee(task)">Update</button></td>
        </tr>
    </tbody>
</table>