@font-face {
    font-family: 'Urbanist';
    src: url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap') format('truetype');
    font-weight: 500;
    font-style: normal;
}