body {
    font-family: urbanist;
}

.scheduled-table {
    thead {
        tr {
            border-left: 1px solid #dee2e6 !important;
            border-right: 1px solid #dee2e6 !important;

            th {
                background-color: #F2F2F2;
                color: #800020;
                text-align: center;
                font-size: 14px;
                border: none !important;
                padding-top: 1%;
                padding-bottom: 1%;
            }
        }
    }

    tbody {
        tr {
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;

            td {
                background-color: white;
                font-size: 13px;
                text-align: center;
                border-top: none !important;
                padding-top: 1%;
                padding-bottom: 1%;
                font-weight: 600;
            }
        }
    }
}