<div class="main">

  <div class="
    -container" #pdfContent>
    <div class="container mt-5">
      <!-- Tabs Navigation -->
      <ul class="nav nav-tabs flex-wrap" id="myTabs" role="tablist">
        <li class="nav-item Custom-tab-spacing" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Registered Office Details</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link Custom-tab-spacing" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
            aria-controls="profile" aria-selected="false">Property Details</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link Custom-tab-spacing" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
            aria-controls="contact" aria-selected="false">Services</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link Custom-tab-spacing" id="contact-tab2" data-toggle="tab" href="#contact2" #contactTab2
            role="tab" aria-controls="contact" aria-selected="false">Hierarchy</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link Custom-tab-spacing" id="contact-tab3" data-toggle="tab" href="#contact3" role="tab"
            aria-controls="contact" aria-selected="false">Technical Info</a>
        </li>
        <li class="nav-item" role="presentation" >
                <a class="nav-link Custom-tab-spacing" id="contact-tab4" data-toggle="tab" href="#contact4" role="tab" aria-controls="contact" aria-selected="false">Payment Settings</a>
              </li>
      </ul>

      <!-- Tab Content -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <app-office-details></app-office-details>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <app-property-details></app-property-details>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <!-- <app-service-details></app-service-details> -->
          <app-service-tab-list></app-service-tab-list>
        </div>
        <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
          <app-hierarchy-details></app-hierarchy-details>
        </div>
        <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab3">
          <app-technical-info></app-technical-info>
        </div>
        <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab4">
                <!-- <h3>Settings</h3> -->
                <app-payment-subscription-management-customer ></app-payment-subscription-management-customer>
                <!-- <p>This is the content for the Settings tab.</p> -->
              </div>
      </div>
    </div>




    <!-- <div *ngIf="showModal" class="modal" style="display: block; background: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">PDF Preview</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body" style="height: 80vh;">
        <iframe [src]="pdfUrl" width="100%" height="100%"></iframe>
      </div>
    </div>
  </div>
</div> -->
  </div>
</div>