<app-alerts></app-alerts>

<form [formGroup]="customerProprtyDetailsForm" (ngSubmit)="onSubmit()">
  <div class="section">
    <h3 style="font-size: 20px;font-weight: 600;">Contact Details</h3>
    <div style="display: grid;grid-template-columns: repeat(3, 1fr);row-gap: 3%;">
      <div class="form-group form1_div">
        <label>Hotel Name</label>
        <input class="input_box" type="text" formControlName="hotel_name" />
        <span
          *ngIf="customerProprtyDetailsForm.controls['hotel_name'].invalid && customerProprtyDetailsForm.controls['hotel_name'].touched">
          Hotel name is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Contact Person</label>
        <input class="input_box" type="text" formControlName="contact_person" />
        <span
          *ngIf="customerProprtyDetailsForm.controls['contact_person'].invalid && customerProprtyDetailsForm.controls['contact_person'].touched">
          Contact_person is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Designation</label>
        <input class="input_box" type="text" formControlName="designation" />
        <!-- <select class="input_box" formControlName="designation">
        <option value="manager">Manager</option>
        <option value="developer">Developer</option>
        <option value="designer">Designer</option>
        <option value="qa">QA</option>
        <option value="hr">HR</option>
      </select> -->
        <span
          *ngIf="customerProprtyDetailsForm.controls['designation'].invalid && customerProprtyDetailsForm.controls['designation'].touched">
          Designation is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Phone Number</label>
        <input class="input_box" type="number" formControlName="primary_phone_number" />
        <div
          *ngIf="customerProprtyDetailsForm.get('primary_phone_number')?.hasError('invalidPhone') && customerProprtyDetailsForm.get('primary_phone_number')?.touched"
          class="error">
          ❌ Invalid Phone Number (must be 10 digits & start with 6-9)
        </div>
      </div>
      <div class="form-group form1_div">
        <label>Phone Number <a style="font-size: 14px;color: #A0A0A0;">(secondary)</a></label>
        <input class="input_box" type="number" formControlName="secondary_phone_number" />
        <div
          *ngIf="customerProprtyDetailsForm.get('secondary_phone_number')?.hasError('invalidPhone') && customerProprtyDetailsForm.get('secondary_phone_number')?.touched"
          class="error">
          ❌ Invalid Phone Number (must be 10 digits & start with 6-9)
        </div>
      </div>
      <div class="form-group form1_div">
        <label>Email Id</label>
        <input class="input_box" type="text" formControlName="email" />
        <span
          *ngIf="customerProprtyDetailsForm.controls['email'].invalid && customerProprtyDetailsForm.controls['email'].touched">
          Email is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Brand / Franchise</label>
        <select class="input_box" formControlName="brand">
          <option value="Taj Hotels">Taj Hotels</option>
          <option value="The Oberoi Group">The Oberoi Group</option>
          <option value="ITC Hotels">ITC Hotels</option>
          <option value="Marriott Hotels">Marriott Hotels</option>
          <option value="Hyatt Hotels">Hyatt Hotels</option>
          <option value="Radisson Hotels">Radisson Hotels</option>
        </select>
        <span
          *ngIf="customerProprtyDetailsForm.controls['brand'].invalid && customerProprtyDetailsForm.controls['brand'].touched">
          Brand / Franchise is required.
        </span>
      </div>





    </div>
  </div>

  <div class="section">
    <h3 style="font-size: 20px;font-weight: 600;">Property Address</h3>
    <div style="display: grid;grid-template-columns: repeat(3, 1fr);row-gap: 3%;">

      <div class="form-group form1_div">
        <label>Door No</label>
        <input class="input_box" type="text" formControlName="property_doorno" />
        <span
          *ngIf="customerProprtyDetailsForm.controls['property_doorno'].invalid && customerProprtyDetailsForm.controls['property_doorno'].touched">
          Door No is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Address</label>
        <input class="input_box" type="text" formControlName="property_address" />
        <span
          *ngIf="customerProprtyDetailsForm.controls['property_address'].invalid && customerProprtyDetailsForm.controls['property_address'].touched">
          Address is required.
        </span>
      </div>


      <div class="form-group form1_div">
        <label>Country</label>
        <select class="input_box" formControlName="property_country" (click)="onItemsSelect($event)">
          <option *ngFor="let country of countryDropdownList" [value]="country.country">{{country.country}}</option>

        </select>
        <span
          *ngIf="customerProprtyDetailsForm.controls['property_country'].invalid && customerProprtyDetailsForm.controls['property_country'].touched">
          Country is required.
        </span>
      </div>
      <div class="form-group form1_div">
        <label>State</label>
        <select class="input_box" formControlName="property_state">
          <option *ngFor="let states of statesDropdownList" [value]="states.state">{{states.state}}</option>

        </select>
        <span
          *ngIf="customerProprtyDetailsForm.controls['property_state'].invalid && customerProprtyDetailsForm.controls['property_state'].touched">
          State is required
        </span>
      </div>
      <div class="form-group form1_div">
        <label>City</label>
        <input class="input_box" type="text" formControlName="property_city" />
        <!-- <select class="input_box" formControlName="property_city">
            <option value="manager">Chennai</option>
            <option value="developer">Chennai</option>
            <option value="designer">Chennai</option>
            <option value="qa">Chennai</option>
            <option value="hr">Chennai</option>
          </select> -->
        <span
          *ngIf="customerProprtyDetailsForm.controls['property_city'].invalid && customerProprtyDetailsForm.controls['property_city'].touched">
          City is required
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Location</label>
        <input class="input_box" type="text" formControlName="property_location" />
        <span
          *ngIf="customerProprtyDetailsForm.controls['property_location'].invalid && customerProprtyDetailsForm.controls['property_location'].touched">
          Location is required
        </span>
      </div>
      <div class="form-group form1_div">
        <label>Pincode</label>
        <input class="input_box" type="text" formControlName="property_pincode" />
        <span
          *ngIf="customerProprtyDetailsForm.controls['property_pincode'].invalid && customerProprtyDetailsForm.controls['property_pincode'].touched">
          Pincode is required
        </span>
      </div>






    </div>
  </div>
  <div class="section">
    <h3 style="font-size: 20px;font-weight: 600;">PAN & GST Details</h3>
    <div style="display: grid;grid-template-columns: repeat(3, 1fr);row-gap: 3%;">
      <div class="form-group form1_div">
        <label>PAN Number</label>
        <input class="input_box" type="text" formControlName="property_pan" />
        <div
          *ngIf="customerProprtyDetailsForm.get('property_pan')?.hasError('invalidPAN') && customerProprtyDetailsForm.get('property_pan')?.touched"
          class="error">
          ❌ Invalid PAN Format (e.g., ABCDE1234F)
        </div>
      </div>
      <div class="form-group form1_div">
        <label>GST</label>
        <input class="input_box" type="text" formControlName="property_gst" />
        <div
          *ngIf="customerProprtyDetailsForm.get('property_gst')?.hasError('invalidGST') && customerProprtyDetailsForm.get('property_gst')?.touched"
          class="error">
          ❌ Invalid GST Format (e.g., 27ABCDE1234F1Z5)
        </div>
      </div>






    </div>
  </div>
  <div class="section">
    <h3 style="font-size: 20px;font-weight: 600;">Property Size</h3>
    <div style="display: grid;grid-template-columns: repeat(4, 1fr);row-gap: 3%;">
      <div class="form-group form1_div">
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio1" name="property_size" value="01-50 Rooms"
            formControlName="property_size" checked>01-50 Rooms
          <label class="form-check-label" for="radio1"></label>
        </div>
      </div>
      <div class="form-group form1_div">
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio1" name="property_size" value="51-101 Rooms"
            formControlName="property_size">51-101 Rooms
          <label class="form-check-label" for="radio1"></label>
        </div>
      </div>
      <div class="form-group form1_div">
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio1" name="property_size" value="101-150 Rooms"
            formControlName="property_size">101-150 Rooms
          <label class="form-check-label" for="radio1"></label>
        </div>
      </div>
      <div class="form-group form1_div">
        <div class="form-check">
          <input type="radio" class="form-check-input" id="radio1" name="property_size" value="150 and above Rooms"
            formControlName="property_size">150 and above Rooms
          <label class="form-check-label" for="radio1"></label>
        </div>
      </div>





    </div>
  </div>
  <div class="section" *ngIf="customerdata?.property_details?.kyc_documents?.uploaded_documents.length > 0">
    <h3 style="font-size: 20px;font-weight: 600;">KYC Documents</h3>
    <div style="display: grid;grow-gap: 3%;">
      <div class="form-group form1_div">
        <div class="form-check" style="line-height: 2.5rem;">
          <label class="form-check-label" for="radio1">Company status -
            {{customerdata?.property_details?.kyc_documents?.company_status}}</label>
          <label class="form-check-label" for="radio1"
            *ngFor="let doc of customerdata?.property_details?.kyc_documents?.uploaded_documents"
            style="display: flex;">{{doc.document_name}} -&nbsp; <a href="{{doc.document_url}}">download</a>

          </label>
        </div>
      </div>






    </div>
  </div>
  <div class="section" *ngIf="customerdata?.property_details?.kyc_documents?.uploaded_documents?.length ==undefined">
    <h3 style="font-size: 20px;font-weight: 600;">KYC Documents</h3>
    <div style="display: grid;grow-gap: 3%;">
      <div class="form-group form1_div">
        <div class="form-check" style="line-height: 2.5rem;">
          <label class="form-check-label" for="radio1">Company status - Not Yet Uploaded
            <!-- <label class="form-check-label" for="radio1" *ngFor="let doc of customerdata?.property_details?.kyc_documents?.uploaded_documents" style="display: flex;">{{doc.document_name}} -&nbsp; <a href="{{doc.document_url}}">download</a>
 -->
          </label>
        </div>
      </div>






    </div>
  </div>

  <div style="display: flex;justify-content: flex-end;">
    <!-- Newly commented & added -->
    <!-- <button type="submit" class="cancel_bt" (click)="cancel()">cancel</button>&nbsp;&nbsp; -->
    <!-- <button type="submit" class="save_bt"  (click)="onSubmit()"  [disabled]="customerProprtyDetailsForm.invalid">Next</button> -->
    <button type="submit" class="save_bt" (click)="nextTab()">Next Tab</button>
  </div>
</form>



<div class="popup-overlay" *ngIf="isVisible">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content confetti-background">
      <div class="modal-body text-center">
        <!-- <div>
          <img src="../../../assets/images/guestezee/star.png" alt="Membership Icon" class="icon" style="position: absolute;width: 32.23px;height: 43.95px;
          left: 8.89px;
          right: 29.49%;
          top: 6.05px;border-radius: 5px;
          bottom: 11.72%;background: linear-gradient(0deg, #5558FF 0%, #00C0FF 50.28%, #5558FF 100%);" />
        </div>
       -->
        <img src="../../../assets/images/guestezee/membership 1.png">
        <h4 class="mt-2">Membership ID Created Successfully</h4>
        <h3 class="mt-2">We are verifying your account and will update you soon. Thank you for your patience!</h3>
        <h2 class="membership-id">{{memberId}}</h2>
        <div class="d-flex justify-content-center gap-3 mt-3">
          <!-- <button class="btn btn-secondary" (click)="backtoForm()">Back</button> -->
          <button class="btn btn-primary" (click)="onContinue()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>