.form1_div{
    width:95%
   
  }
  .inputwidth{
  width: 95%;
  }
  .section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
   
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .form1_div{
    width:95%
   
  }
  .input_box{
  width: 95%;
  border: 2px solid #DBDBDB;
  border-radius: 5px;
  padding: 5px 5px;
  }
  .body {
    font-family: urbanist;
    
}
.label{
    font-family: urbanist;
    font-weight: 600;
    font-size: 14px;    
}
.form-check-input:checked {
    background-color: #800020!important;
    border-color: #800020!important;
}
.cancel_bt{
  padding: 8px 50px;
  border: none;
  border-radius: 5px;
  background: #C6C6C6;
  color: #4E4E4E;
  font-weight: 600;
}
.save_bt{
padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: #800020;
  color: white;
  font-weight: 600;

}
.save_bt:disabled {
background: #b35a78; /* Lighter color */
cursor: not-allowed; /* Show not-allowed cursor */
opacity: 0.6; /* Reduce opacity */
}

label{
  font-family: urbanist;
  font-weight: 600;
  font-size: 14px;

}
h3{
  font-family: urbanist;
}
input{
  font-family: urbanist;
  font-weight: 400;
  font-size: 13px;
}
select{
  font-family: urbanist;
  font-weight: 400;
  font-size: 13px;
}
.error{
  color: red;
  font-size: 13px;
  font-family: urbanist;
}
span{
  color: red;
  font-size: 13px;
  font-family: urbanist;

}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.icon {
  width: 50px;
  height: 50px;
}

.membership-id {
  color: #8b0000;
  font-weight: bold;
}

.modal-content {
  background-image: url('../../../assets/images/guestezee/Frame.png'); /* Change path as needed */
 
  background-size: cover;
  background-position: center;
}
