
<div class="main">
    <app-alerts></app-alerts>
    <!-- <app-header></app-header> -->
    <div class="centered-container">
<form [formGroup]="techInfoForm" >
<div class="section">
      <h3 style="font-size: 20px;font-weight: 600;">Add Technical Info </h3>
      <div class="row">
        <div class="col-6">
            <div style="display: grid;grid-template-columns: repeat(1, 1fr);row-gap: 3%;">

                <div class="form-group form1_div">
              
                    <div class="custom-file-upload">
                        <input
                          type="file"
                          formControlName="image"
                          class="input_box"
                          id="iconUpload" #fileInput (change)="imageupload($event)"
                          
                        />
                        <label for="iconUpload" class="upload-label">
                          <div class="file-preview">
                            <div class="icon-tag">Image</div>
                             <div class="file-name">
       {{ uploadedFileName ? (uploadedFileName.length > 6 ? (uploadedFileName | slice:0:6) + '...' : uploadedFileName) : 'Choose file...' }}

        </div>
                            <div>
                              <!-- <div class="file-name">Choose file...</div> -->
                              <div class="file-info">Maximum File size • 2Mb</div>
                            </div>
                          </div>
                          <div class="upload-actions">
                            <i class="fas fa-trash-alt" (click)="clearImage()"></i>
                            <i class="fas fa-eye"></i>
                            <i class="fas fa-upload" (click)="fileInput.click()"></i>
                          </div>
                        </label>
                      </div>
                      
                    <span *ngIf="techInfoForm.get('image')?.invalid && techInfoForm.get('image')?.touched">
                     upload icon
                    </span>
                  </div>
                  
              <div class="form-group form1_div">
                <label >Name</label>
                <input class="input_box" type="text" formControlName="name" placeholder="name" style="width: 100%;"  />
                <span *ngIf="techInfoForm.get('name')?.invalid && techInfoForm.get('name')?.touched">
                    service name is required.
                </span>
              </div>
                <div class="form-group form1_div">
                <label >Type</label>
                <input class="input_box" type="text" formControlName="type" placeholder="type" style="width: 100%;"  />
                <span *ngIf="techInfoForm.get('type')?.invalid && techInfoForm.get('type')?.touched">
                    service type is required.
                </span>
              </div>
            <div class="form-group form1_div">
                <label >API Url</label>
                <input class="input_box" type="text" formControlName="api_url" placeholder="api url" style="width: 100%;"  />
                <span *ngIf="techInfoForm.get('api_url')?.invalid && techInfoForm.get('api_url')?.touched">
                    api_url is required.
                </span>
              </div>
        
            
        

              
           
            </div>
           

        </div>
        <div class="col-12" style="display: flex;margin-top: 2%;">



            
            <div class="form-group form1_div">
                <label >Enable</label>&nbsp;&nbsp;
                <label class="switch">
                    <input type="checkbox" formControlName="is_enable"    >
                    <span class="slider round"></span>
                  </label>
                <span *ngIf="techInfoForm.controls['is_enable'].invalid && techInfoForm.controls['is_enable'].touched">
                    service type is required.
                </span>
              </div>







<p>

</p>

<!-- {{this.techInfoDataForm.value | json}} -->

            <button style="background-color: #800020;     height: 70%;color: white; padding:6px 18px; border-radius: 5px;   border: none;white-space: nowrap;"  (click)="addEmployee()">Add Field</button>

        </div>

      </div>
   
   


  



  

 


     
     
     
     
   
    </div>

     
   
    </form>
    <div class="row" >
        <form [formGroup]="techInfoDataForm"   class="col-10">

            <div formArrayName="technicalInfo">
          
              <div *ngFor="let employee of employees().controls; let empIndex=index">
          
                <div [formGroupName]="empIndex" style="padding: 10px; margin: 5px;display: grid;grid-template-columns: repeat(2, 1fr);row-gap: 3%;    border-radius: 10px;" >
                  
            
               <div class="form-group form1_div"> 
                <label >  {{empIndex +1}}.Label</label>
                <input class="input_box" type="text"  placeholder="label name" formControlName="key"   />
               </div>
                  
              
             
                  <div class="form-group form1_div">
                    <label >  {{empIndex+1}}.Key Value</label>
                    <input class="input_box" type="text" placeholder="enter the key value"  formControlName="value" />
                    <i class="fa-regular fa-square-minus" (click)="removeEmployee(empIndex)" style="
    margin-left: 1%;"></i>
                   
                  </div>
          
                
          
          
                
          
          
                </div>
          
              </div>
            </div>
          
            <p>
              <!-- <button type="submit">Submit</button> -->
            </p>
          
          </form>
            
        <div >
        
       
        
        </div>
     
  
  
      
  
  
        
     
      </div>



                    <!-- <button (click)="removeEmployee(empIndex)" style="width: 20%;margin-top: 4%;    float: inline-end;">Remove</button> -->
                    <button class="save_bt" style=" float: inline-end;margin-top: -2%;"   [disabled]="!techInfoForm.valid"     (click)="saveData()" >Save</button>

    </div>