body {
    font-family: urbanist;
}

.centered-container {
    background-color: white;
    min-height: 100vh;
    width: 96%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 1%;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

input {
    font-size: 14px;
}

button {
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.cancel_bt {
    background: #C6C6C6;
    color: #4E4E4E;
}

.save_bt {
    background: #800020;
    color: white;
}

input::placeholder {
    color: #808091;
    font-size: 14px;
}

.bi-toggle-on {
    color: #1AA080;
}

.bi-toggle-off {
    color: rgb(212, 14, 14);
}