<div class="main">
    <div class="centered-container">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <!-- Tabs -->
                <div class="d-flex gap-2 p-2" style="border-radius: 10px; background-color: #EAEAEA;">
                    <button *ngFor="let tab of tabs" class="btn tab-btn px-3 py-1 shadow-none"
                        [ngClass]="{ 'active': selectedTab === tab }" (click)="selectTab(tab)">
                        {{ tab }}
                    </button>
                </div>

                <!-- Search Bar with Filter -->
                <div class="d-flex align-items-center w-25"
                    style="border-radius: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);">
                    <span class="px-2">
                        <i class="fas fa-search" style="color: gray; font-size: 18px;"></i>
                    </span>
                    <input type="text" placeholder="Search" class="form-control border-0 bg-white"
                        style="box-shadow: none; color: #8F9899">
                    <div class="px-3 py-2" (click)="toggleFilterDropdown()"
                        style="background-color: #D8D8D8;  border-top-right-radius: 10px; border-bottom-right-radius: 10px; cursor: pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="black" class="bi bi-funnel"
                            viewBox="0 0 16 16">
                            <path
                                d="M1.5 1.5a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 .4.8L10 8.118V13.5a.5.5 0 0 1-.757.429l-2-1.2A.5.5 0 0 1 7 12.3V8.118L1.1 1.8a.5.5 0 0 1 .4-.8z" />
                        </svg>
                    </div>
                    <!-- Dropdown Popup -->
                    <div *ngIf="showFilterDropdown" class="position-absolute mt-2 shadow-sm"
                        style="background: white; padding: 12px 16px; border-radius: 10px; z-index: 1000; min-width: 10%; right: 4%; top: 26%">

                        <!-- Triangle Arrow -->
                        <div
                            style="position: absolute; top: -10px; right: 12px; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 10px solid white;">
                        </div>

                        <!-- Escalated -->
                        <div class="d-flex align-items-center mb-2" style="cursor: pointer;">
                            <i class="fas fa-briefcase me-2" style="font-size: 14px;"></i>
                            <span style="font-weight: 500; font-size: 14px;">Escalated</span>
                        </div>

                        <!-- Pending -->
                        <div class="d-flex align-items-center" style="cursor: pointer;">
                            <i class="fas fa-clock me-2" style="font-size: 14px;"></i>
                            <span style="font-weight: 500; font-size: 14px;">Pending</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Component Loader Based on Value -->
            <app-asap-cart *ngIf="selectedTab === 'ASAP Cart'" (openAssigneeModal)="openModal($event)"></app-asap-cart>
            <app-processing *ngIf="selectedTab === 'Processing'"></app-processing>
            <app-scheduled *ngIf="selectedTab === 'Schedule'"></app-scheduled>
            <app-delivered *ngIf="selectedTab === 'Delivered'"></app-delivered>
            <app-escalated *ngIf="selectedTab === 'Escalated'" (openAssigneeModal)="openModal($event)"></app-escalated>


            <!-- Centered Modal Overlay -->
            <div class="d-flex justify-content-center align-items-center staff-modal" *ngIf="isModalOpen"
                style="height: 100vh; background: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;">

                <!-- Modal Box -->
                <div class="bg-white p-4 rounded" style="width: 35%; border-radius: 20px;">

                    <!-- Modal Title -->
                    <h5 class="fw-bold mb-4" style="font-size:18px;">Add Assignee to Room No: {{ selectedRoom }}</h5>

                    <!-- Select Assignee Title -->
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <p class="fw-bold mb-0" style="font-size: 14px;">Select Assignee</p>
                        <span class="fw-bold" style="color: #800020;">
                            {{ getAssignableCount() }}/<span style="color: #1A1A1A;">{{ getTotalStaffCount() }}</span>
                        </span>
                    </div>

                    <!-- Assignee Buttons -->
                    <div class="rounded p-3 d-flex flex-wrap gap-2" style="border: 1px dashed #D5D5D5;">
                        <span *ngFor="let staff of serviceStaves['Pet Service']" class="px-2 py-1 rounded"
                            style="font-size: 13px" (click)="getStaffNameBorder(staff.name)"
                            [ngStyle]="getCompleteStaffStyle(staff)">
                            {{ staff.name }}
                        </span>
                    </div>

                    <!-- Buttons -->
                    <div class="mt-4">
                        <button class="btn fw-bold w-100 mb-2 shadow-none"
                            style="background-color: #800020; color: white;" [disabled]="!selectedStaff"
                            (click)="assignDuty()">Assign
                            Duty</button>
                        <button class="btn w-100 shadow-none" style="background-color: #C4C4C4; color: white;"
                            (click)="closeModal()">Cancel</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>